<div class="list">
    <%= @list.name %>

    <%= for card <- @list.cards do %>

        <div class="row">
            <%=render("card.html", card: card, list: @list) %>
        </div>
    <% end %> 
               
    <a href="<%=Routes.note_card_path(@conn, :new, @list.id)%>" class="card">
    New...
    </a>

</div> 
